<%@posts.each do |post|%>
        <div class="card">
        <div class="card-header">
           <%=link_to post.title, post %>
        </div>
        <div class="card-body">
            <p class="card-text"><%=post.body%></p>
        </div>
        </div>
<%end%>

<div class="card">
    <div class="card-body">
        <%= render 'form',post: @post%>
    </div>
</div>
